* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    height: 100%;
}

body {

    font-size: 62.5%;
    font-family: "Raleway", sans-serif;
    width: 100%;
    background: lightblue;

}

/* ------------------------------------START SCREEN ------------------------------------------------- */

.main-container {
    color: white;
    background-color: rgba(47, 0, 255, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 1em 3em;
}

.startScreen {
    width: 80%;
    margin-bottom: 10vh;
  
    margin-inline: auto;
    display: flex;
    padding: 4em 2em;
    text-align: center;
    
}

.startScreen .start {
    background: none;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em;
}

.left img {
    width: 50%;

}

#name {
    margin-top: 2em;
    font-size: 1.7vw;
    padding: .2em;
    color: rgb(37, 37, 37);
}

.left .navbuttons {
    padding: 2em;
    display: flex;
}

.left button {
    padding: 1em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 70%;
    font-size: 1.3vw;
}

.left button:hover {
    color: yellow;
}

.right {
    display: none;
    flex-direction: column;
}

.right .instructions {

    padding: 2em;

}

.right .instructions p {
    font-size: 2vw;
}

.right button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 5vw;
}

.right button:hover {
    color: yellow;
}





/* ------------------------------------BUTÕES ------------------------------------------------- */



.button-wrapper {
    width: 100%;
    position: relative;
    display: none;
    flex-direction: column;
    overflow: hidden;

}

/* ---------------------------- NAVBAR---------------------------- */



.button-wrapper .navbar {
    width: 100%;
    background: rgba(47, 0, 255, 0.7);
    padding: 1.5vw;
    display: flex;
    position: fixed;
}

.button-wrapper .navbar .container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: .3em auto;
}

.button-wrapper .navbar .container .esquerda {

    display: flex;
    flex: 50%;
    justify-content: space-between;
    align-items: center;
}


.button-wrapper .navbar .container .esquerda img {
    width: 3.5vw;

    margin: 0 2em;
}

.button-wrapper .navbar .container .esquerda h3 {
    font-size: 1.5vw;
}

.button-wrapper .navbar .container .direita {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    align-items: center;


}

.button-wrapper .navbar .container .direita button {
    color: white;
    background: none;
    border: none;
    font-size: .5vw;
    margin-left: 2em;
    cursor: pointer;
}


/* -------------------------------------------INFORMATION-------------------------------- */

.button-wrapper .navbar .container .information {
    position: absolute;
    display: none;
    background: rgba(47, 0, 255, 0.7);
    width: 100%;
    top: 100%;
    padding: 2.5em;
    text-align: center;

}

.button-wrapper .navbar .container .information .info-container p {
    line-height: 1.5;
    font-size: .9em;
}

/* 
------------------------------------------BOARD----------------------- */

.button-wrapper .boardSection {
    width: 100%;
   
}

.button-wrapper .boardSection img {
    width: 80%;
    height: auto;
    text-align: center;
    margin: .5% auto 5% auto;
    display: block;
}



.button-wrapper .boardSection .presser {
    width: 1.5%;
    height: 1.5%;
    border-radius: 50%;
    background-color: yellow;
    border: none;
    position: absolute;
    display: block;

}

.presser:focus {

    background-color: brown;
}

.presser:hover {
    background-color: magenta;
}

#lisbon {
    top: 78%;
    left: 12%;
}

#madrid {
    top: 77%;
    left: 22%;
}

#paris {
    top: 65%;
    left: 33%;
}

#dublin {
    top: 44%;
    left: 21%;
}


#amsterdam {
    top: 50%;
    left: 39%;
}

#berlin {
    top: 50%;
    left: 45%;
}

#copenhagen {
    top: 40%;
    left: 45%;
}

#warsaw {
    top: 50%;
    left: 60%;
   
}

#rome {
    top: 77%;
    left: 50%;
}

#bucharest {
    top: 65%;
    left: 70%;
}

/* ------------------------------------GAME OVER ------------------------------------------------- */


.gameOver {
    display: none;
    width: 28%;
    padding: 1.7em 1.6em;
    background-color: rgba(47, 0, 255, 0.7);
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    position: absolute;
    top: 30%;
    left: 40%;

}

.gameOver .gameOver-wrapper {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.gameOver .gameOver-wrapper h1 {
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: .5em;

}


.gameOver .gameOver-wrapper p {
    font-size: 1.4vw;
    margin-bottom: 1em;
}


.gameOver .gameOver-wrapper .startAgain {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: .7vw;
}

.gameOver .gameOver-wrapper .startAgain:hover {
    color: yellow;
}


/* ------------------------------------VITORIA------------------------------------------------- */

.vitoria {
    display: none;
    width: 28%;
    padding: 1.7em 1.6em;
    background-color: rgba(47, 0, 255, 0.7);
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    position: absolute;
    top: 30%;
    left: 40%;
}


.vitoria .gameOver-wrapper {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.vitoria .gameOver-wrapper h1 {
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: .5em;

}


.vitoria .gameOver-wrapper p {
    font-size: 1.4vw;
    margin-bottom: 1em;
}


.vitoria .gameOver-wrapper .startAgain {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: .7vw;
}

.vitoria .gameOver-wrapper .startAgain:hover {
    color: yellow;
}


/* ------------------------------------PERGUNTAS------------------------------------------------- */


.pergunta {
    width: 20%;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 5px 10px 18px #888888;
    color: rgb(29, 28, 28);
    padding: 2vw;
    position: fixed;
    top: 36%;
    left: 40%;
    z-index: 3;
}

/* @media (max-width: 570px) {
    .pergunta {
        padding: 1em;
        border-radius: 5px;
    }

} */


.pergunta .questionWrapper {
    width: 100%;
}

.pergunta .questionWrapper h2 {
    font-size: 1.6vw;
    font-weight: 900;
    width: 100%;
}



.pergunta .questionWrapper h3 {
    width: 100%;
    margin-top: .4em;
    font-size: 1.4vw;
    font-weight: 500;
}



.pergunta .questionWrapper input {
    margin-top: .6em;
    border-radius: .3vw;
    width: 100%;
    /* max-width: 400px; */
    padding: .3em;
    font-size: 1.2vw;
}

.pergunta .questionWrapper button {
    margin-top: .5em;
    border: none;
    background: none;
    color: white;
    border-radius: .3vw;
    font-size: 1.4vw;
    cursor: pointer;
    width: 100%;
    background: blue;
    padding: .3em;

}

.pergunta .questionWrapper button:hover {
    color: blue;
    background: none;
    border: .3px solid darkgray;
}

.polishForm {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.polishForm .first {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.polishForm .first input {
    width: 2vw;

}


.polishForm .first label {
    font-size: 1.3vw;
    margin-left: 1em;
}

#perguntaLisboa {
    display: none;
}

#perguntaMadrid {
    display: none;
}

#perguntaParis {
    display: none;
}

#perguntaAmsterdam {
    display: none;
}

#perguntaDublin {
    display: none;
}

#perguntaRome {
    display: none;
}

#perguntaWarsaw {
    display: none;
}

#perguntaBerlin {
    display: none;
}

#perguntaCopenhagen {
    display: none;
}

#perguntaBucharest {
    display: none;
}